<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://www.upstatement.com/" target="_blank">Upstatement</a> building things for the web with some awesome people. I recently graduated from
      <a class="underline-link" href="http://www.ccis.northeastern.edu/" target="_blank">Northeastern University</a> after completing three awesome six-month co-ops at
      <a class="underline-link" href="https://us.mullenlowe.com/" target="_blank">MullenLowe U.S.</a>,
      <a class="underline-link" href="https://starry.com/" target="_blank">Starry</a>, and
      <a class="underline-link" href="https://www.apple.com/music/" target="_blank">Apple Music</a>.
    </p>

    <p>
      As believed by Rick Sanchez, My favourite fictional character "To live is to risk it all, otherwise, you're just an inert 
      chunk of randomly molecules drifting wherever the universe blows you." I see myself responsible for each moment of my life.
    </p>

    <p>
      I'm good with new technology and figuring out how things work. I admire ideas and love to explain mine to people who have 
      an ear to listen.
    </p>

    <p>
      <strong>I'm not in front of a computer screen,</strong>
      I'm probably reading a book, walking around while listening to music, or watching a movie.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
